# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
mailer_state.db

# Virtual Environment
venv/
ENV/

# IDEs
.vscode/
.idea/
